################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/AtCoder/.vs/AtCoder/v16
/AtCoder/AtCoder/x64/Release
/AtCoder/packages/boost.1.70.0.0
/AtCoder/x64/Release
/AtCoder/AtCoder/x64/Debug
/AtCoder/x64/Debug
